<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">{{ site.data.i18n.fr.home }}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html">{{ site.data.i18n.fr.categories }}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">{{ site.data.i18n.fr.authors }}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">{{ site.data.i18n.fr.contact }}</a>
</li>
