<h5 class="mb-3">{{ site.name }}</h5>

<p>Bienvenue ! Ce site regroupe des fiches de séance de voile légère prêtes à l'emploi pour les moniteurs FFVoile. N'hésitez pas à me contacter pour toute suggestion.</p>

<a href="{{ site.baseurl }}/categories.html" class="btn btn-warning d-block mb-2"><i class="fa fa-folder-open"></i> {{ site.data.i18n.fr.categories }}</a>

<a href="{{ site.baseurl }}/contact.html" class="btn btn-danger d-block"><i class="fa fa-envelope"></i> {{ site.data.i18n.fr.contact }}</a>